{{#each articles as |article|}}

  <ul data-id="{{article.id}}">
    <h3>{{article.title}}</h3>
    {{#if article.description}}
      <li>{{article.description}}</li>
    {{else}}
      <li>No description.</li>
    {{/if}}
  </ul>

{{/each}}
