$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$white: #fff;
$red: #f00;

.article-search {
  clear: right;
  float: right;
}

.article-search-user {
  clear: right;
  float: right;
}

body {
  background: $black;
  color: $white;
}

.modal-content {
  background: $black;
  color: $white;
}

.welcome {
  color: $red;
}

.dropdown-menu {
  background: $black;
}

.btn {
  background: $black;
  color: $red;
}

.btn-group {
  background: $black;
  color: $red;
}

.modal {
  text-align: center;
}

input {
  background-color: $black;
}

textarea {
  background-color: $black;
}

.update-failure {
  color: $red;
}

.create-failure {
  color: $red;
}

.searchbar {
  color: $red;
}
